<div class="">
  <a href="#/templates">Go Back</a>
  <br>
  <br>
  <div class="col-md-4">
    <img src="img/blue.jpg" class="img-full" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Blue Template</h3>
    <p>
      Bacon ipsum dolor amet rump pork chop venison boudin bresaola landjaeger, spare ribs chicken sausage leberkas. Pork sausage flank andouille frankfurter jerky ham venison filet mignon, shank picanha tri-tip pig. Pork belly ribeye tri-tip, shankle prosciutto boudin alcatra frankfurter ground round brisket swine corned beef filet mignon landjaeger chuck. Tail cow pastrami prosciutto, drumstick tri-tip pancetta boudin picanha bresaola. Pork tail cow hamburger frankfurter sausage. Tongue ball tip spare ribs turducken kevin flank pork loin. Short loin beef cow ham hock ball tip pig jerky, venison short ribs chicken shank ham.
    </p>
    <h4>$19.99</h4>
    BUY IT
  </div>
</div>
